<nav class="navbar navbar-expand-md navbar-light bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <!-- font awesome file will be copied and pasted but will work only if you add its cdn from font awesome cdn  -->
        <a class="navbar-brand" href="/listings"><i class="fa-solid fa-earth-africa"></i></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- req.user can't be accessed directly but through locals variable it can be accessed  -->
                <a class="nav-link" href="/listings">Explore</a>
                <a class="nav-link" href="/listings/new">Add new Listing</a>
            </div>
            <div class="navbar-nav ms-auto">
                <% if(!currUser) { %>
                <a class="nav-link"  href="/SignUp"><b>SignUp</b></a>
                <a class="nav-link" href="/LogIn"><b>LogIn</b></a>
                <% } %>
                <% if(currUser) { %>
                <a class="nav-link" href="/LogOut"><b>LogOut</b></a>
                <% } %>
            </div>
        </div>
    </div>
</nav>