<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wonderland</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>This is my travel Website</h1>
    <!-- <'%'- component -'%'> layout will be followed and then a component can pe passed like this from that ejs file -->
     <div class="container">
        <%- body -%>
    </div>
</body>
</html>