<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Listing</title>
</head>
<body>
    <h2>New Listing : </h2>
    <form method="post" action="/listings">
        <input type="text" placeholder="Enter the Title" name="listing[title]">
        <br>
        <br>
        <textarea placeholder="Enter the Description" name="listing[description]"></textarea>
        <br>
        <br>
        <input type="text" placeholder="Enter the Image URL" name="listing[image]">
        <br>
        <br>
        <input type="number" placeholder="Enter the Price" name="listing[price]">
        <br>
        <br>
        <input type="text" placeholder="Enter the Location" name="listing[location]">
        <br>
        <br>
        <input type="text" placeholder="Enter the Country" name="listing[country]">
        <br>
        <br>
        <button>Save</button>
    </form>
</body>
</html>