<% layout("layouts/boilerplate") %>

    <body>
        <div class="row">
            <!-- col-n : by default cols are 12 which are entirly occpied so we need to reduce it so that could take specied col space -->
            <!-- offset-2 is used to give spacing from the left side -->
            <div class="col-8 offset-2 mt-3">
                <h2>Create new New Listing : </h2>
                <!-- no validate need to be written so that browser dont insert thier own validation messages -->
                <!-- needs-validation : is a bootstrap class used to add bootstarp validation(strandardized) independent of browsers -->
                <!-- enctype="mutlipart/form-data" is written to make form accept files -->
                <form method="post" action="/listings" novalidate class="needs-validation"
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <!-- form-label : is used to add styling label  -->
                        <!-- form-control : is used to add styling in input  -->
                        <label for="title" class="form-label">Title : </label>
                        <input type="text" placeholder="Enter the Title" name="listing[title]" class="form-control"
                            required>
                        <!-- valid-feedback / invalid-feedback : is used to add success or failure message... -->
                        <div class="valid-feedback">Title Looks Good!</div>
                        <div class="invalid-feedback">Please Enter the Title</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description : </label>
                        <textarea placeholder="Enter the Description" name="listing[description]" class="form-control"
                            required></textarea>
                        <div class="valid-feedback">Description Looks Cool!</div>
                        <div class="invalid-feedback">Please Enter a Valid Description</div>
                    </div> 
                    <!-- To add file we need to change the form enctype="multipart/form-data"  -->
                    <div class="mb-3">
                        <label for="image.url" class="form-label">Upload Image : </label>
                        <input type="file" name="listing[image][url]" class="form-control">
                    </div>


                    <div class="mb-3">
                        <label for="price" class="form-label">Price : </label>
                        <input type="text" placeholder="Enter the Price" name="listing[price]" class="form-control"
                            required>
                        <div class="valid-feedback">Price Looks Good!</div>
                        <div class="invalid-feedback">Price Invalid!</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="location" class="form-label">Location : </label>
                                <input type="text" placeholder="Enter the Location" name="listing[location]"
                                    class="form-control" required>
                                <div class="valid-feedback">Location Looks Cool!</div>
                                <div class="invalid-feedback">Enter a valid Location</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="mb-3">
                                <label for="country" class="form-label">Country : </label>
                                <input type="text" placeholder="Enter the Country" name="listing[country]"
                                    class="form-control" required>
                                <div class="valid-feedback">Country Looks Best</div>
                                <div class="invalid-feedback">Enter a Existing Country</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-dark mb-3 add-btn">Save</button>
                </form>
            </div>
        </div>
    </body>