body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height:100vh;
}
.container{
    flex:1;
}

.navbar{
    height : 5rem;
    background-color: white;
}

.fa-earth-africa{
    color : rgb(4, 132, 38);
    font-size: 2rem;
}

.nav-link{
    color:#222222 !important; /*important is used as it overrides the styling specified by the bootstrap*/
}

.f-info-links a{
    text-decoration: none;
    color:#222222 !important;
}
.f-info-links a:hover{
    text-decoration: underline;
    color:#030303 ;
}


.f-info{
    height  : 8rem;
    display : flex;
    background-color:#ebebeb;
    flex-wrap:wrap;
    justify-content:center;
    align-items:space-evenly;
    text-align:center;
}

.f-info-links,
.f-info-socials, .f-info-brands {
    width: 100%;
    display: flex;
    align-items : center;
    justify-content : center;
}
.f-info-socials i{
    margin-right:1rem;
    font-size: 2rem;
}

.card{
    border: none !important;
    margin-bottom : 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover!important;
}
.card-body{
    padding:0 !important;
}

.listing-link{
    text-decoration: none;
    color : #222222;
}
.listing-link:hover{
    color : inherit;
}
.listing-link:visited{
    color : inherit;
}

.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity:0.1;
    background-color: black;
    border-radius:1.4rem;
}

.add-btn{
    background-color:#fe242d !important;
    border : none !important;
}

.edit-btn{
    background-color: #fe242d !important;
    border: none !important;
}

/* show route */
.show-img{
    height:30vh;
}

.btns{
    display:flex;
}

.show-card{
    padding-left: 0 !important;
    padding-right: 0 !important;
}


