/* body{
    background-color: pink;
} */

.navbar{
    height : 5rem;
    background-color: white;
}

.fa-earth-africa{
    color : rgb(4, 132, 38);
    font-size: 2rem;
}

.nav-link{
    color:#222222 !important; /*important is used as it overrides the styling specified by the bootstrap*/
}