/* body{
    background-color: pink;
} */

.navbar{
    height : 5rem;
    background-color: white;
}

.fa-earth-africa{
    color : rgb(4, 132, 38);
    font-size: 2rem;
}

.nav-link{
    color:#222222 !important; /*important is used as it overrides the styling specified by the bootstrap*/
}

.f-info-links a{
    text-decoration: none;
    color:#222222 !important;
}
.f-info-links a:hover{
    text-decoration: underline;
    color:#030303 ;
}


.f-info{
    height  : 8rem;
    display : flex;
    background-color:#ebebeb;
    flex-wrap:wrap;
    justify-content:center;
    align-items:space-evenly;
    text-align:center;
}

.f-info-links,
.f-info-socials, .f-info-brands {
    width: 100%;
    display: flex;
    align-items : center;
    justify-content : center;
}
.f-info-socials i{
    margin-right:1rem;
    font-size: 2rem;
}



